// Widescreens
@include mediaXL {
    .projects{
        grid-template-columns: repeat(5,1fr);
    }
}

// Desktops & Laptops
@include mediaLg {
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}

// Tablets & Small laptops
@include mediaMd {
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 15px;
        }
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav{
        height: 109vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
        background: darken($primary-color, 15);
        line-height: 0.5;

        .nav-link{
            font-size: 20px;
        }
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait{
            width: 150px;
            height: 150px;
        }
    }

    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job2';
        grid-template-columns: 1fr;
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
}

// Smartphones
@include mediaSm {
   main#home h1{
       margin-top: 10vh;
   }
   
   .projects{
        grid-template-columns: 1fr;
    }

}



    // Live Demo
    //http://like-theory.surge.sh/